:root { 
--gray_700:#595959; 
--gray_400:#c4c4c4; 
--gray_500:#8f8f8f; 
--deep_purple_100_4f:#ccc9ff4f; 
--gray_500_2b:#a1a1a12b; 
--deep_purple_100:#ccc9ff; 
--gray_300:#e3e3e3; 
--gray_50:#fafafa; 
--gray_100:#f2f5f5; 
--indigo_400_85:#6663db85; 
--indigo_400:#6663db; 
--gray_500_40:#91919140; 
--black_900:#0a0a0a; 
--gray_500_21:#9c9c9c21; 
--bluegray_400:#8c8c8c; 
--gray_900_0a:#1414140a; 
--black_901:#000000; 
--deep_purple_100_5c:#ccc9ff5c; 
--white_A700:#ffffff; 
--indigo_600:#242ed1; 
}